[Desktop Entry]
Type=Application
Name=hibp2sqlite
Comment=Convert Hash Text File to SQLite Database
Exec=hibp2sqlite
Icon=hibp2sqlite
Terminal=true
Categories=Utility;

